<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
    <meta charset="UTF-8">
    <title>UserGroup Management</title>
</head>
<body>
<div class="wrapper" layout:fragment="content">
    <div class="content-wrapper">
        <section class="content-header mt-5">
            <h1> Add User Group</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> Home
                    </a>
                </li>
                <li class="breadcrumb-item"> UserGroup Management</li>
                <li th:if="${action != 'update'}" class="breadcrumb-item active">Add</li>
                <li th:if="${action == 'update'}" class="breadcrumb-item active">Update</li>
            </ol>
        </section>
        <section class="content">
            <div class="card card-info">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="managerU">Manager User</label>
                                <select class="form-control select2" name="managerU" id="managerU" data-placeholder="Please select main.."
                                        style="width: 100%;">
                                    <option value=""></option>
<!--                                    <option th:if="${action != 'update'}" selected value=""></option>-->
<!--                                    <option th:each="userId: ${userId}"-->
<!--                                            th:value="${userId.userSeq}"-->
<!--                                            th:attr="data-id=${userId.username}"-->
<!--                                            th:text="${userId.username}" ></option>-->

<!--                                    <option th:if="${action == 'update'}"-->
<!--                                            th:value="${userId != null ? userId.userSeq : ''}"-->
<!--                                            th:text="${userId != null ? userId.username : ''}"></option>-->
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="memberU">Member User</label>
<!--                                <select class="form-control select2" name="managerU" id="memberU" data-placeholder="Please select member.."-->
<!--                                        style="width: 100%;">-->
<!--                                    <option value=""></option>-->
<!--                                </select>-->
                                <select class="form-control js-example-basic-multiple" name="memberU" id="memberU" data-placeholder="Please select member.."
                                        multiple="multiple">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" th:if="${action != 'update'}" class="btn btn-primary" id="create">Save</button>
                            <button type="submit" th:if="${action == 'update'}" class="btn btn-primary" id="update">Update</button>
                            <button onclick="document.location='/users-g'" class="btn btn-dark" data-btn="cancel">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/js/pages/user-group/create-update.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        let action = /*[[${action}]]*/ 'action';
        let currentUser = /*[[${currentUser}]]*/ 'currentUser';
        console.log(currentUser);
        /*]]>*/
    </script>
</th:block>
</body>
</html>
